body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 4% auto 0 auto;
    width: 70%;
}

.jumbotron {
    background-color: #000;
    border-radius: 0;
}

.title {
    color: #fff;
    margin: -8% 0 0 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

button {
    cursor: pointer;
    float: right;
}

.btn-success:hover {
    background-color: #fff;
    color: #5cb85c;
}

.alert {
    margin: 0 auto;
    width: 50%;
}